**/.idea
**/.vscode
**/logs
**/*.iml
**/*.ipr
**/target/
**/.mvn
**/.settings
**/.classpath
**/.project
**/.springBeans
**/mvnw
**/mvnw.cmd
**/node_modules/
**/coverage/
**/build/
**/package-lock.json
**/npm-debug.log
**/__all_spec_files__.js
**/yarn.lock
**/yarn-error.log